

#animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2); 
    animation: fade-in 1s ease-in-out forwards; 
}

#white-rectangle {
    position: relative;
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: white; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

/* 애니메이션 키 프레임 설정 */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* 로그아웃 버튼 스타일 */
#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
