@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,600&family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap');

.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 200px;
    font-family: 'Baloo Tammudu 2', 'Noto Sans KR', sans-serif;
}

/* 기본 배경이미지 설정 */
#backImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: brightness(50%);
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* 버튼 */
.custom-file {
    display: flex;
    align-items: center;
    height: 5rem;
    top: 60px; 
    right: 40px; 
    position: fixed;
}

.custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-label {
    cursor: pointer;
    padding: 3px 6px;
    background-color: #EEEEEE;
    /* 배경색 */
    color: #606C5D;
    /* 글자색 */
    border: none;
    /* 테두리 없애기 */
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    /* 전환 효과 */
}

/* 마우스 올릴 때 스타일 변경 */
.custom-file-label:hover {
    background-color: #606C5D;
    color: white;
}

/* 시계 */
#clock {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 8rem;
    font-size: 8rem;
    margin: 10px;
    color: white;
}

.Digital_clock {
    display: flex;
    align-items: center;
}

.Digital_time {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 11rem;
    font-weight: bold;
}

.Digital_hour,
.Digital_min .text {
    margin: 0;
    padding: 0;
}

.Digital_sub {
    display: flex;
    flex-direction: column;
    font-size: 3.3rem;
    text-align: center;
    height: 8.5rem;
}

.Digital_ampm {
    margin: 0.5rem;
    padding: 0;
    color: #BDBDBD;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.Digital_second {
    margin: 0.5rem;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Roboto', sans-serif;
}

/* 캘린더 */
#calender_button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#calendar-container {
    display: none;
}

/* 로그인 폼 */
#logon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;
}

.disabled {
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    color: gray;
    cursor: pointer;
  }

#login-form {
    text-align: center;
    color: white;
    margin: 0 auto;
}

#login-form input:first-child {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    transition: all, 0.4s;
}

#login-form input:first-child:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#login-form input:hover::-webkit-input-placeholder {
    /*placeholder color change*/
    color: rgb(50, 50, 50);
}

#login-form input:first-child:focus {
    outline: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}

#login-form input:nth-child(2) {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(80, 80, 80);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
    transition: all, 0.4s;
}

#login-form input:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.8)
}

#login-form input:nth-child(2):active {
    background-color: darkgray;
    color: white;
    outline: none;
}

#greeting {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    font-weight: 600;
}

/* todo */

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#todo-form input {
    text-align: center;
    color: white;
    font-size: 1rem;
    width: 540px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    border: none;
    margin-bottom: 20px;
    margin-top: -50px;
    transition: all, 0.4s;
}

#todo-form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#todo-form input:hover::-webkit-input-placeholder {
    color: rgb(50, 50, 50);
}

#todo-form input:focus {
    outline: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
}

#todo-list {
    text-align: center;
    align-items: center;
}

#todo-list li {
    list-style: none;
    color: rgba(250, 250, 250, 0.8);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 1rem;
    width: 540px;
    position: relative;
    flex: 1;
}

#todo-list li:hover {
    color: #A0BFE0;
}

#todo-list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  #todo-list li[data-visible="true"]::before {
    width: 540px;
    height: 3rem;
    opacity: 1;
  }

#todo-list span {
    display: inline-block;
    vertical-align: middle;
  }

#todo-list button {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: white;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 1.2rem;
}

#todo-list button:hover {
    cursor: pointer;
}



/* 문구 */

#quotes {
    text-align: center;
    position: fixed;
    bottom: 20px;
    margin-left: 36px;
    font-size: 0.8rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}

#weather {
    position: fixed;
    top: 20px;
    right: 36px;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
}

#weather:hover {
    color: rgb(255, 166, 0);
}